@model Umtahan_programii.Models.Subject

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Subject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.AntiForgeryToken() <!-- Include AntiForgeryToken for security -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubjectCode" class="control-label"></label>
                <input asp-for="SubjectCode" class="form-control" />
                <span asp-validation-for="SubjectCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NameOfSubject" class="control-label"></label>
                <input asp-for="NameOfSubject" class="form-control" />
                <span asp-validation-for="NameOfSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class" class="control-label"></label>
                <input asp-for="Class" class="form-control" />
                <span asp-validation-for="Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameOfTeacher" class="control-label"></label>
                <input asp-for="NameOfTeacher" class="form-control" />
                <span asp-validation-for="NameOfTeacher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurnameOfTeacher" class="control-label"></label>
                <input asp-for="SurnameOfTeacher" class="form-control" />
                <span asp-validation-for="SurnameOfTeacher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
